.bar {
    background: #EEF5E6;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

}

.button-bar{
    padding-right: 12px;
}

.title-page{
    font-size: 25px;
    display: flex;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
    color:dimgrey;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.container{
      min-height: 100vh;
    background: #EEF5E6;
    padding: 16px;
    padding-top: 15px;
}

.doctors{
  
  /*     */
  border-radius: 16px;

  padding: 10px;
  min-height: 100vh;


    mat-chip {
      background-color: #088395;
      color: #EBF4F6;
    }
    
}
mat-list-item{
    min-height: 80px;
    justify-content: space-between;
    background: #EBF4F6;
    border-radius: 16px;
    
    border-color: aquamarine;
    margin-bottom: 16px; 
    padding: 16px;
    color: #088395;
    box-shadow: 0 0 25px rgba(131, 231, 231, 0.25);
}